{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
            <div class="col-md-11 col-sm-11 mx-3">

              <h4 class="text-muted mb-3">Parameters Setups</h4>
            </div>

        <div class="col-md-11 col-sm-11 mx-3">
<button type="button" class="btn btn-outline-primary float-right" id="open-modal">
    New
</button>


        </div>

        <div class="col-md-11 col-sm-11 mt-2 mx-3">

            <div class="table-responsive">
        <table class="table table-striped display responsive nowrap" id="paramTable">
  <thead>
    <tr>
      <th scope="col">Param Name</th>
      <th scope="col">Param Value</th>
      <th scope="col">Param Desc</th>
        <th></th>
        <th></th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
    </div>

        </div>

<div class="modal fade" id="paramModal" role="dialog" aria-labelledby="classModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-1" id="classModalTitle">Add/Edit Parameters</h5>
        <button type="button" class="close mr-1 mb-2 btn btn-outline-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form id="param-form">
                {% csrf_token %}
                <input type="hidden" name="param_code" class="form-control" id="param_code" placeholder="">
                <div class="form-group row mb-3">
                          <label for="unit-id" class="col-md-2 ml-3 col-sm-11 control-label">Param Name</label>

                        <div class="col-md-8 col-sm-11 ml-0">
                         <input type="text" name="param_name" class="form-control" id="param_name" placeholder="">

                        </div>
                </div>
                  <div class="form-group row mb-3">
                          <label for="unit-id" class="col-md-2 ml-3 col-sm-11 control-label">Param Value</label>

                        <div class="col-md-8 col-sm-11">
                         <input type="text" name="param_value" class="form-control" id="param_value" placeholder="">

                        </div>
                </div>

                   <div class="form-group row mb-3">
                          <label for="unit-id" class="col-md-2 ml-3 col-sm-11 control-label">Param Desc</label>

                        <div class="col-md-8 col-sm-11">
                            <textarea id="param_desc" name="param_desc" rows="4" cols="50" class="form-control"> </textarea>
                        </div>
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="saveParam" class="btn btn-outline-primary">Save</button>

        <button type="button" class="btn btn-outline-default-" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    </div>

      <script src=" {% static 'custom/setups/system/parameters.js' %}"></script>

{% endblock %}
