{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
            <div class="col-md-11 col-sm-11 mx-3">

              <h4 class="text-muted mb-3">Campuses Setups</h4>
            </div>

        <div class="col-md-11 col-sm-11 mx-3">
<button type="button" class="btn btn-outline-primary float-right" id="open-modal">
    New
</button>


        </div>

        <div class="col-md-11 col-sm-11 mt-2 mx-3">

            <div class="table-responsive">
        <table class="table table-striped display responsive nowrap" id="campusTable">
  <thead>
    <tr>
      <th scope="col">Campus Name</th>
      <th scope="col">County</th>
      <th scope="col">Campus Location</th>
      <th scope="col">Campus In Charge</th>
      <th scope="col">Campus In Charge Contacts</th>
        <th></th>
        <th></th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
    </div>

        </div>

<div class="modal fade" id="campusModal" role="dialog" aria-labelledby="campusModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-1" id="campusModalTitle">Add/Edit Campuses</h5>
        <button type="button" class="close mr-1 mb-2 btn btn-outline-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form id="campus-form">
                {% csrf_token %}
                <input type="hidden" name="campus_code" id="campus_code">
                <div class="form-group row mb-3">
                          <label for="unit-id" class="col-md-2 ml-3 col-sm-11 control-label">Name</label>

                        <div class="col-md-8 col-sm-11 ml-0">
                         <input type="text" name="campus_name" class="form-control" id="campus_name" placeholder="">

                        </div>
                </div>


              <div class="form-group row mb-3">
                         <input type="hidden" id="county-code" name="campus_county"/>
                          <input type="hidden" id="county-name">
                          <label for="unit-id" class="col-md-2 ml-3 col-sm-11 control-label">County</label>

                        <div class="col-md-8 col-sm-11">

                            <select id="county-frm" class="form-control"
                     >


                     </select>
                        </div>
                </div>

                    <div class="form-group row mb-3">
                          <label for="unit-id" class="col-md-2 ml-3 col-sm-11 control-label">Location</label>

                        <div class="col-md-8 col-sm-11">
                         <input type="text" name="campus_location" class="form-control" id="campus_location" placeholder="">

                        </div>
                </div>

             <div class="form-group row mb-3">
                          <label for="unit-id" class="col-md-2 ml-3 col-sm-11 control-label">In Charge</label>

                        <div class="col-md-8 col-sm-11">
                         <input type="text" name="campus_incharge" class="form-control" id="campus_incharge" placeholder="">

                        </div>
                </div>

                <div class="form-group row mb-3">
                         <label for="unit-id" class="col-md-2 ml-3 col-sm-11 control-label">In Charge Contacts</label>

                        <div class="col-md-8 col-sm-11">
                         <input type="text" name="campus_incharge_contacts" class="form-control" id="campus_incharge_contacts" placeholder="">

                        </div>
                </div>



            </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="saveCampus" class="btn btn-outline-primary">Save</button>

        <button type="button" class="btn btn-outline-default-" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    </div>

      <script src=" {% static 'custom/setups/academics/campuses.js' %}"></script>

{% endblock %}
